<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
    <a href="index.html" class="hero-logo" data-aos="zoom-in"><img width="130px"  height="100px"  src="assets/img/Our Logo.PNG" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To Gas Zone</h1>
      <h2 data-aos="fade-up">We are here to fill your all gas cylinders.</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->
    
</body>
</html>