<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>gasZone</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="UDassets/img/icon.png">
  <!-- <link href="images/favicon.ico" rel="icon"> -->
  <!-- <link href="assets/img/icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<style>
  i{
    transition: 1s all;
    font-size: 80px;
  }
  a :hover {
    color: white;

    font-size: 100px;
  }
</style>
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
    <!-- <a href="index.html" class="hero-logo" data-aos="zoom-in"><img width="130px"  height="130px"  src="assets/img/Our Logo.PNG" alt=""  style="border-radius: 50%;"></a> -->
    <a href="/" class="hero-logo " data-aos="zoom-in"><i class="bi bi-fire " style=""></i>
   <h2 class= "fw-bolder fs-4" style="color:white;"> GasZone
  </h2> </a>
      <!-- <h1 data-aos="zoom-in">Welcome To Gas Zone</h1> -->
      <section  class="w-100 p-3 p-lg-0">
        <video src="/smoke.mp4"type="video/mp4" autoplay muted loop class="h-100 w-100"></video>
        <h1 class="mx-auto hero-text d-none d-lg-block">
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>E</span>
            <span>T</span>
            <span>O</span>
            <span>G</span>
            <span>A</span>
            <span>S</span>
            <span>Z</span>
            <span>O</span>
            <span>N</span>
            <span>E</span>
        </h1>
        <p style="font-size: 25px; text-align: center; margin: auto;" class=" hero-text d-sm-flex flex-column  d-lg-none">
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>E</span>
            <br>
            <span>T</span>
            <span>O</span>
           <br> <span>G</span>
            <span>A</span>
            <span>S</span>
            <span>Z</span>
            <span>O</span>
            <span>N</span>
            <span>E</span>
        </p>
    </section>
      <h2 data-aos="fade-up">We are here to fill your all gas cylinders.</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#pricing" class="btn-get-started scrollto" style="font-weight: 600;">Order Now</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/icon.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li> -->
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Cylinders</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
          <!-- <p>Magnam dolores commodi suscipit eius consequatur</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="about-img" id="img">
            <div class="box">
              <span style="--i:1;"><img src="assets/img/about-section img/cylinder-one.webp" width="200px"></span>
              <span style="--i:2;"><img src="assets/img/about-section img/cylinder-two.jfif" width="200px"></span>
              <span style="--i:3;"><img src="assets/img/about-section img/cylinder-three.jfif" width="200px"></span>
              <span style="--i:4;"><img src="assets/img/about-section img/cylinder-four.jfif" width="200px"></span>
              <span style="--i:5;"><img src="assets/img/about-section img/cylinder-five.webp" width="200px"></span>
              <span style="--i:6;"><img src="assets/img/about-section img/cylinder-six.webp" width="200px"></span>    
              <!-- <img src="assets/img/about cylinder.webp" class="img-fluid" alt=""> -->
            </div>
          </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>Read us something about us.</h3>
              <p class="fst-italic">
                Welcome to gasZone, your premier destination for hassle-free gas refills and cylinder services. We're excited to revolutionize the way you experience gas cylinder refills with our innovative approach and dedication to customer satisfaction.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> gasZone offers hassle-free gas refills at our conveniently located stations. Say goodbye to long queues and complicated procedures with us, refilling your gas cylinder is quick and easy.</li>
                <li><i class="bx bx-check-double"></i> Trust in our commitment to quality and safety. Our state-of-the-art technology ensures accurate and precise refills, meeting the highest industry standards for reliability and performance.</li>
                <li><i class="bx bx-check-double"></i>  Experience exceptional customer service tailored to your needs. Our knowledgeable team is here to assist you every step of the way, providing expert advice and support to ensure your satisfaction.</li>
              </ul>
              <p>
                Thank you for choosing gasZone. We're thrilled to be your go-to destination for fast, reliable, and convenient gas refills. Experience the difference with gasZone  where quality, convenience, and customer satisfaction come together seamlessly.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>We provide you these services.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Refill Services</h4>
              <p> Convenient and efficient gas cylinder refills available at our state-of-the-art filling stations.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Delivery Options</h4>
              <p>Choose from flexible delivery options to have your refilled cylinders delivered straight to your doorstep.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Safety Inspections</h4>
              <p>Comprehensive safety inspections performed by our expert technicians to ensure your cylinders meet industry standards.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Technical Support</h4>
              <p>Access to expert technical support and advice for all your gas cylinder needs, from selection to maintenance.

              </p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/cylinder.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section>
 <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Meet our Passionated and Dedicated Team.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="margin-left: 220px;" >
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img src="assets/img/animie 1.PNG" class="img-fluid"  height="200px"    style="border-radius:50%;width:174px">
            
              </div>
              <div class="member-info" style="text-align: center;">
                <h4>Sanya Younus</h4>
                <span style="color: blue;">The Leader</span>
                 <p>UI Design</p> 
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="margin-left: 20px;">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/animie 2.PNG" class="img-fluid"  style="border-radius: 50%;height: 175px;width: 180px;margin-left: 50px;"  >
       
              </div>
              <div class="member-info" style="text-align: center;">
                <h4>Verdha Aziz-ur-Rehman Ahmed</h4>
                 <span style="color: blue;">The right-hand</span>
                <p>Animation</p> 
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
        
              </div>
              <div class="member-info">
        
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Cylinder</h2>
          <p>You are free to order your gas cylinder refill.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Lpg gas cylinder </h3>
              <img src="assets/img/pricing/pic 1.PNG" class="pic-1" style="height: 100px;width: 100px;">
           
              <ul>
                <li>Use in Vehicles.</li>
                <li>Use in Domestic and Commercial Cooking fuel.</li>
                <li>Use in  Industrial applications.  </li>
                <!-- <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="/stepone" class="btn-buy" style="color: black;">Select</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in">
              <span class="recommended-badge">Recommended</span>
              <h3>Fibre gas cylinder</h3>
              <img src="assets/img/pricing/pic 2.webp" class="pic-2" style="height: 100px;width: 100px;">
      
              <ul>
                <li>Very safe to use at Home.</li>
                <li>Use for Outdoor activities and camping.</li>
                <li>Use for Commercial and Industrial appliances.</li>
                <!-- <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="/stepone" class="btn-buy">Select </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Oxygen gas cylinder</h3>
              <img src="assets/img/pricing/pic 3.jpg" class="pic-3" style="height: 100px;width: 100px;">
      
              <ul>
                <li>Use for Medical appliances.</li>
                <li>Use for Welding and Metal fabrication.</li>
                <li>Use for Aquaculture and Fish Farming.</li>
                <!-- <li>Pharetra massa</li>
                <li>Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="/stepone" class="btn-buy" style="color: black;">Select</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us... </p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Karachi,Pakistan.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>gasZone@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="assets/img/icon.png" alt=""></a>
            <h3>gasZone.com</h3>
            <p>You can easily Contact us.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
          <!-- <a href="/stepfinal" class="facebook"><i class="bx bx1-facebook"></i></a>
          <a href="/stepfinal" class="instagram"><i class="bx bxl-instagram"></i></a> -->
          <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>gasZone.com</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>